<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="My first steps into vue.js" />
        <meta name="author" content="Simon Schötz">
        <title>My First Vue.js project</title>
        <link rel="stylesheet" href="./normalize.css">
        <link rel="stylesheet" href="./index.css">
    </head>
    <body>
        <noscript>Please enable JavaScript to run this app.</noscript>

        <div class="nav-bar"></div>
            <h1>Busted Fingerz Discography</h1>

        <div id="app">
            <div class="release-container" v-for="release in discography" :key="release.id">   
                
                <div class="cover-art-container">
                    <img v-if="release.artwork.length !== 0 " :src="release.artwork" :alt="release.name" width="250" height="250">
                    <img v-else src="https://i1.sndcdn.com/avatars-000456674544-werm3v-t500x500.jpg" :alt="release.name" width="250" height="250">
                </div>
                <div class="description-container">
                    <h2>{{release.name}}</h2>
                    <p>{{release.date}}</p>
                    <p>{{release.release}}</p>
                    <p>{{release.label}}</p>
                    <a :href="release.link" target="_blank" rel="noopener noreferrer">
                        <p v-show="release.free">Free DL</p>
                        <p v-show="!release.free">Support</p>
                    </a>
                </div>
            </div>
        </div>
        <script src="./node_modules/vue/dist/vue.js" ></script>
        <script src="./index.js"></script>


    </body>
</html>